.App {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.align-item-center {
  align-items: center;
}

.align-item-start {
  align-items: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.slick-slide {
  width: auto !important;
  margin: 0 5px;
}

.MuiChip-root {
  display: flex !important;
  align-items: center !important;
  padding: 0 5px !important;
}

.slick-track {
  display: flex !important;
  align-items: center !important;
}